<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xmu.swordbearer.andcoin"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="50b2d74f5270152bd1000093" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="sdk" >
        </meta-data>

        <activity
            android:name=".SelectActivity"
            android:configChanges="keyboardHidden"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="FloatService" >
        </service>

        <activity android:name="SetupActivity" >
        </activity>
    </application>

</manifest>